//= components/head
<body class="page page-homepage flash-blue">
<div id="flash-screen">
	<div class="bg"></div>
	<h1>Liveness</h1>
	<div class="flash-screen__video">
		<video loop muted autoplay>
			<source src="https://kstatic.googleusercontent.com/files/26d277f87910d045f7e63c31380a3aba882240ebcba693cb18db36803f0bce762c041e64d9c4457fabef98cec4af6e27ca36d4fa8f47868b6f366a96ad682b37" type="video/mp4" data-parent-href="https://about.google/stories/coronavirus-thank-you-videos/">
			<source src="https://kstatic.googleusercontent.com/files/3ff8340d24640e71ffdfe2cdc9968a9fabe6dd3d6753492f889a1966a368bf9d2c475605aa6504d00040f98eb07510c7dd9151ad517f7353a27050ae4564f300" type="video/webm" data-parent-href="https://about.google/stories/coronavirus-thank-you-videos/">
			<!-- Fallback image -->
			<img src="" alt="alt">
		</video>
	</div>
</div>
//= components/header
<div class="content-wrapper">
		//= components/homepage
</div>
//= components/footer
