<div class="container">
	<div class="row">
		<div class="col-xl-12">
			<div class="block text-block">
				<h1 class="text-center">Studio 1<br>
					The Narrative of It</h1>
			</div>
		</div>
		<div class="col-xl-10 offset-xl-1">
			<div class="caption-img block">
				<img src="/static/img/tmp/img_plhdr1.jpg" alt="Placeholder">
				<div class="author">
					<a href="#">Lucca Puzzoni</a>, The Unaware Sculptor
				</div>
				<div class="desc">including migration, colonialism, tradition, economy, ecology, and
					technology.
				</div>
			</div>
		</div>
		<div class="col-xl-10">
			<div class="block text-block">
				<h2>The Twilight of the Idols</h2>
				<p>‘Through this library, students can learn about the interwoven themes that are unraveled throughout
					documenta 14, including migration, colonialism, tradition, economy, ecology, and technology.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="block video-iframe call-to-action-holder">
				<div class="iframe-wrapper">
					<iframe src="https://www.youtube.com/embed/0I647GU3Jsc" frameborder="0"
					        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					        allowfullscreen></iframe>
				</div>
				<a href="#" class="call-to-action">The Unaware Sculptor<span></span></a>
				<div class="author">
					<a href="#">Lucca Puzzoni</a>, The Unaware Sculptor
				</div>
				<div class="desc">
					including migration, colonialism, tradition, economy, ecology, and technology.’
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="img-a block">
				<a href="#">
					<img src="/static/img/tmp/img_plhdr2.jpg" alt="Placeholder">
					<span class="img-link">The Unaware Sculptor<span></span></span>
				</a>
				<div class="author">
					<a href="#">Lucca Puzzoni</a>, The Unaware Sculptor
				</div>
				<div class="desc">
					‘Poratiur, volupta ssecea doloreperrum lant fugit, coreica tinvellendus is susam volores eatur?
					Quiam, core simolupta perit, officae sint quias eiuntem es et, cum cone vendition’.
					<a href="#">Read →</a>
				</div>
			</div>
		</div>
		<div class="col-xl-10 ">
			<div class="block text-block">
				<h2>Peter Auerbach</h2>
				<p>Poratiur, volupta ssecea doloreperrum lant fugit, coreica tinvellendus is susam volores eatur? Quiam,
					core simolupta perit, officae sint quias eiuntem es et, cum cone venditio dolupta qui nobis eatur aut
					ligenem ipis essed magnam im cores autentorios
					<a href="#">audam</a>, officia quo et occuptam, tem. Nos magnimillest voluptate quaspeliquo id quo
					veliatem ipsam, et eum core dis nobis atatureperor minci niet rem qui ab ipsapedistem sitaquat</p>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="img-a block">
				<img src="/static/img/tmp/img_plhdr4.jpg" alt="Placeholder">
				<div class="author">
					<a href="#">Lucca Puzzoni</a>, The Unaware Sculptor
				</div>
				<div class="desc">
					Nos magnimillest voluptate quaspeliquo id quo veliatem ipsam, et eum core dis nobis atatureperor
					minci niet rem qui ab ipsapedistem sitaquat.
					<a href="#">Call to action →</a>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="img-a block">
				<a href="#">
					<img src="/static/img/tmp/img_plhdr3.jpg" alt="Placeholder">
					<span class="img-link">The Unaware Sculptor<span></span></span>
				</a>
				<div class="author">
					<a href="#">Lucca Puzzoni</a>, The Unaware Sculptor
				</div>
				<div class="desc">
					Nos magnimillest voluptate quaspeliquo id quo veliatem ipsam, et eum core dis nobis atatureperor
					minci niet rem qui ab ipsapedistem sitaquat.
					<a href="#">Call to action →</a>
				</div>
			</div>
		</div>
		<div class="col-xl-10">
			<div class="block text-block">
				<p>Poratiur, volupta ssecea doloreperrum lant fugit, coreica tinvellendus is susam volores eatur? Quiam,
					core simolupta perit, officae sint quias eiuntem es et, cum cone venditio dolupta qui nobis eatur aut
					ligenem ipis essed magnam im cores autentorios
					<a href="#">audam</a>, officia quo et occuptam, tem. Nos magnimillest voluptate quaspeliquo id quo
					veliatem ipsam, et eum core dis nobis atatureperor minci niet rem qui ab ipsapedistem sitaquat</p>
			</div>
		</div>
		<div class="col-xl-10">
			<div class="block carousel">
				<a href="gallery-1" class="carousel-base call-to-action-holder" data-bg="white"> <!-- blue/black -->
					<img src="/static/img/tmp/img_plhdr5.jpg" alt="Gallery">
					<div class="call-to-action">
						1 / 7 <i class="search"></i>
					</div>
				</a>
				<div class="author">
					<a href="#">Lucca Puzzoni</a>, The Unaware Sculptor
				</div>
				<div class="desc">
					Nos magnimillest voluptate quaspeliquo id quo veliatem ipsam, et eum core dis nobis atatureperor
					minci niet rem qui ab ipsapedistem sitaquat.
					<a href="#">Call to action →</a>
				</div>
				<div class="gallery">
					<a href="/static/img/tmp/img_plhdr5.jpg" data-fancybox="gallery-1" data-caption="Note this caption is not the same as the one on the Complex Page under the slideshow
thumbnail. This one will have a maximum length approximately of what I am showing here 1. ">
						<img src="/static/img/tmp/img_plhdr5.jpg" alt="image"/>
					</a>
					<a href="/static/img/tmp/img_plhdr4.jpg" data-fancybox="gallery-1" data-caption="Note this caption is not the same as the one on the Complex Page under the slideshow
thumbnail. This one will have a maximum length approximately of what I am showing here 2.">
						<img src="/static/img/tmp/img_plhdr4.jpg" alt="image"/>
					</a>
					<a href="/static/img/tmp/img_plhdr3.jpg" data-fancybox="gallery-1" data-caption="Note this caption is not the same as the one on the Complex Page under the slideshow
thumbnail. This one will have a maximum length approximately of what I am showing here 3.">
						<img src="/static/img/tmp/img_plhdr3.jpg" alt="image"/>
					</a>
					<a href="/static/img/tmp/img_plhdr2.jpg" data-fancybox="gallery-1" data-caption="Note this caption is not the same as the one on the Complex Page under the slideshow
thumbnail. This one will have a maximum length approximately of what I am showing here 4.">
						<img src="/static/img/tmp/img_plhdr2.jpg" alt="image"/>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-10 offset-lg-1">
			<div class="block video">
				<div class="video-wrapper">
					<video preload="metadata">
						<source src="/static/video/videoplayback.mp4" type="video/mp4">
						Your browser doesn't support HTML5 video
					</video>
					<div class="video-controls">
						<a href="#" class="video-controls__button play"></a>
						<a href="#" class="video-controls__button pause"></a>
					</div>
					<a href="#" class="call-to-action">Call to action <span></span></a>
				</div>
				<div class="author">
					<a href="#">Lucca Puzzoni</a>, The Unaware Sculptor
				</div>
				<div class="desc">
					Nos magnimillest voluptate quaspeliquo id quo veliatem ipsam, et eum core dis nobis atatureperor minci niet rem qui ab ipsapedistem sitaquat.
					<a href="#">Call to action →</a>
				</div>
			</div>
		</div>
		<div class="col-xl-10">
			<div class="block text-block">
				<p>Poratiur, volupta ssecea doloreperrum lant fugit, coreica tinvellendus is susam volores eatur? Quiam,
					core simolupta perit, officae sint quias eiuntem es et, cum cone venditio dolupta qui nobis eatur aut
					ligenem ipis essed magnam im cores autentorios
					<a href="#">audam</a>, officia quo et occuptam, tem. Nos magnimillest voluptate quaspeliquo id quo
					veliatem ipsam, et eum core dis nobis atatureperor minci niet rem qui ab ipsapedistem sitaquat</p>
			</div>
		</div>
		<div class="col-lg-8">
			<a href="#" class="block single-call-to-action blue">
				<span>The Unaware<br>Sculptor</span>
			</a>
		</div>
		<div class="col-lg-4">
			<a href="#" class="block single-call-to-action black">
				<span>The Unaware Sculptor and a longer link</span>
			</a>
		</div>
		<div class="col-lg-6">
			<a href="#" class="block single-call-to-action white">
				<span>The Unaware<br>Sculptor</span>
			</a>
		</div>
		<div class="col-12">
			<div class="block links">
				<div class="title">Studio Leaders</div>
				<ul>
					<li><a href="#">Joseph Kohlmaier</a></li>
					<li><a href="#">Ajay Hothi</a></li>
					<li><a href="#">Deej Fabyc</a></li>
				</ul>
			</div>
		</div>
		<div class="col-12">
			<div class="block links">
				<div class="title">Students</div>
				<ul>
					<li><a href="#">Abby Batucan</a></li>
					<li><a href="#">Nyma Begum</a></li>
					<li><a href="#">Naomi Grace Burke</a></li>
					<li><a href="#">Ousmane Cisse</a></li>
					<li><a href="#">Ajike Doherty</a></li>
					<li><a href="#">Lucia Petronel</a></li>
					<li><a href="#">Susma Edingo</a></li>
					<li><a href="#">Benjamin Ethan</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
