<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="block text-block">
				<h1 class="text-center">Events</h1>
			</div>
		</div>
		<div class="col-xl-7">
			<div class="event">
				<a href="#">
					<img src="/static/img/tmp/img_plhdr1.jpg" alt="alt">
					<span class="time">14 Jun 2020, 6.30pm</span>
					<span class="title">Tony Fretton: Why I think  this is important</span>
				</a>
				<div class="tags">
					<a href="#">Liveness</a>
					<a href="#">Architecture</a>
				</div>
			</div>
		</div>
		<div class="col-xl-5">
			<div class="event">
				<a href="#">
					<img src="/static/img/tmp/img_plhdr2.jpg" alt="alt">
					<span class="time">14 Jun 2020, 6.30pm</span>
					<span class="title">Tony Fretton: Why I think  this is important</span>
				</a>
				<div class="tags">
					<a href="#">Liveness</a>
					<a href="#">Architecture</a>
				</div>
			</div>
		</div>
		<div class="col-xl-5">
			<div class="event">
				<a href="#">
					<img src="/static/img/tmp/img_plhdr3.jpg" alt="alt">
					<span class="time">14 Jun 2020, 6.30pm</span>
					<span class="title">Tony Fretton: Why I think  this is important</span>
				</a>
				<div class="tags">
					<a href="#">Liveness</a>
					<a href="#">Architecture</a>
				</div>
			</div>
		</div>
		<div class="col-xl-7">
			<div class="event">
				<a href="#">
					<img src="/static/img/tmp/img_plhdr4.jpg" alt="alt">
					<span class="time">14 Jun 2020, 6.30pm</span>
					<span class="title">Tony Fretton: Why I think  this is important</span>
				</a>
				<div class="tags">
					<a href="#">Liveness</a>
					<a href="#">Architecture</a>
				</div>
			</div>
		</div>
		<div class="col-xl-7">
			<div class="event">
				<a href="#">
					<img src="/static/img/tmp/img_plhdr5.jpg" alt="alt">
					<span class="time">14 Jun 2020, 6.30pm</span>
					<span class="title">Tony Fretton: Why I think  this is important</span>
				</a>
				<div class="tags">
					<a href="#">Liveness</a>
					<a href="#">Architecture</a>
				</div>
			</div>
		</div>
		<div class="col-xl-5">
			<div class="event">
				<a href="#">
					<img src="/static/img/tmp/img_plhdr3.jpg" alt="alt">
					<span class="time">14 Jun 2020, 6.30pm</span>
					<span class="title">Tony Fretton: Why I think  this is important</span>
				</a>
				<div class="tags">
					<a href="#">Liveness</a>
					<a href="#">Architecture</a>
				</div>
			</div>
		</div>
		<div class="col-xl-5">
			<div class="event">
				<a href="#">
					<img src="/static/img/tmp/img_plhdr.jpg" alt="alt">
					<span class="time">14 Jun 2020, 6.30pm</span>
					<span class="title">Tony Fretton: Why I think  this is important</span>
				</a>
				<div class="tags">
					<a href="#">Liveness</a>
					<a href="#">Architecture</a>
				</div>
			</div>
		</div>
		<div class="col-xl-7">
			<div class="event">
				<a href="#">
					<img src="/static/img/tmp/img_plhdr4.jpg" alt="alt">
					<span class="time">14 Jun 2020, 6.30pm</span>
					<span class="title">Tony Fretton: Why I think  this is important</span>
				</a>
				<div class="tags">
					<a href="#">Liveness</a>
					<a href="#">Architecture</a>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="block text-block">
				<h2 class="text-center">Now Online</h2>
			</div>
		</div>
		<div class="col-xl-7">
			<div class="event">
				<a href="#" class="call-to-action-holder">
					<img src="/static/img/tmp/img_plhdr1.jpg" alt="alt">
					<span class="time">14 Jun 2020, 6.30pm</span>
					<span class="title">Tony Fretton: Why I think  this is important</span>
					<span class="call-to-action">Watch<span></span></span>
				</a>
				<div class="tags">
					<a href="#">Liveness</a>
					<a href="#">Architecture</a>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="block text-block">
				<h2 class="text-center">Event Series</h2>
			</div>
		</div>
		<div class="col-xl-6">
			<a href="#" class="block single-call-to-action white">
				<span>Form Givers</span>
			</a>
		</div>
		<div class="col-12">
			<div class="block text-block">
				<a class="link" href="#"><h2 class="text-center">Event Archive</h2></a>
			</div>
		</div>
	</div>
</div>
