<footer class="footer">
	<div class="footer-content">
		<div class="close-footer">
			<span>x</span></div>
		//= lorem
	</div>
</footer>
<script src="static/js/libs.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>
