<div class="wave">
	<div class="element">
		<a href="">
			<img src="/static/img/tmp/img_plhdr.jpg" alt="image">
		</a>
	</div>
	<div class="title-screen">
		<img src="/static/img/logos/londonmet_logo_white.svg" alt="logo">
		<p>School of Art, Architecture and Design</p>
		<p>Summer Show 2020</p>
		<h1>Liveness</h1>
		<p class="center">29 June - 10 July 2020</p>
		<div class="row">
			<div class="col-lg-8">
				<p>The Summer Show 2020 launches Liveness – a window into life online and at the campus. Join us to celebrate the success of students from the School of Art, Architecture and Design at London Metropolitan University.</p>
			</div>
			<div class="col-lg-4">
				<p>@ldnmetarts<br>
					londonmet.ac.uk/arts<br>
					#liveness2020<br>
					#degreeshowsunited
				</p>
			</div>
		</div>
	</div>
	<div class="element">
		<div class="iframe-wrapper cta-holder">
			<iframe src="https://www.youtube.com/embed/ryJgDL9jzKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<a href="" class="center-cta black">A text that is intriguing and that expands the field</a>
		</div>
	</div>
	<div class="element">
		<a href="" class="cta-holder">
			<img src="/static/img/tmp/img_plhdr1.jpg" alt="image">
			<span class="center-cta blue">
				A text that is intriguing
			</span>
		</a>
	</div>
	<div class="element">
		<div class="iframe-wrapper">
			<iframe src="https://www.youtube.com/embed/ryJgDL9jzKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="element">
		<a href="" class="cta-holder">
			<img src="/static/img/tmp/img_plhdr2.jpg" alt="image">
			<span class="center-cta white">
				A text that is intriguing
			</span>
		</a>
	</div>
	<div class="element">
		<div class="iframe-wrapper">
			<iframe src="https://www.youtube.com/embed/ryJgDL9jzKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="element">
		<a href="" class="cta-holder">
			<img src="/static/img/tmp/img_plhdr3.jpg" alt="image">
			<span class="center-cta white">
				A text that is intriguing
			</span>
		</a>
	</div>
	<div class="element">
		<div class="iframe-wrapper">
			<iframe src="https://www.youtube.com/embed/ryJgDL9jzKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="element">
		<div class="iframe-wrapper">
			<iframe src="https://www.youtube.com/embed/ryJgDL9jzKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="element">
		<div class="iframe-wrapper">
			<iframe src="https://www.youtube.com/embed/ryJgDL9jzKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="element">
		<a href="" class="cta-holder">
			<img src="/static/img/tmp/img_plhdr4.jpg" alt="image">
			<span class="center-cta white">
				A text that is intriguing
			</span>
		</a>
	</div>
	<div class="element">
		<div class="iframe-wrapper">
			<iframe src="https://www.youtube.com/embed/ryJgDL9jzKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="element">
		<div class="iframe-wrapper">
			<iframe src="https://www.youtube.com/embed/ryJgDL9jzKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="element">
		<a href="">
			<img src="/static/img/tmp/img_plhdr5.jpg" alt="image">
		</a>
	</div>
	<div class="element">
		<div class="iframe-wrapper">
			<iframe src="https://www.youtube.com/embed/ryJgDL9jzKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>
<div class="container">
	<div class="row bg-black">
		//= complex
	</div>
</div>
