<div class="project_liner pane-main">
	<h1 class="flowtype">The Bradford Block, Graveney School</h1>

	<div class="project_story fitrows page-text">

		<div class="third project_story--element each-element">
			<div class="inner-liner">
				<div class="rich-text"><p>The design and construction of a new-build Sixth Form Study Block for Graveney School, following the awarding of an Academies Capital Maintenance Fund. The building provides valuable extra teaching, study and events spaces for sixth form students, and makes a positive contribution to Graveney’s campus and host of fine architectural buildings.</p><p>The 800 sqm building includes 8 classrooms and a double-height independent study space with balconies and gallery. It is constructed from Cross Laminated Timber and has a polycarbonate front facade with window openings designed to frame views across the campus and surrounding trees.</p><p>Innovative, sustainable and economical, the building intends to set a template for new school buildings, achieving maximum architectural output using minimal means.</p></div>
			</div>
		</div>

	</div>
</div>

<div class="project_liner pane-main">
	<h1 class="flowtype">The Bradford Block, Graveney School</h1>

	<div class="project_story fitrows page-text">

		<div class="third project_story--element each-element">
			<div class="inner-liner">
				<div class="rich-text"><p>The design and construction of a new-build Sixth Form Study Block for Graveney School, following the awarding of an Academies Capital Maintenance Fund. The building provides valuable extra teaching, study and events spaces for sixth form students, and makes a positive contribution to Graveney’s campus and host of fine architectural buildings.</p><p>The 800 sqm building includes 8 classrooms and a double-height independent study space with balconies and gallery. It is constructed from Cross Laminated Timber and has a polycarbonate front facade with window openings designed to frame views across the campus and surrounding trees.</p><p>Innovative, sustainable and economical, the building intends to set a template for new school buildings, achieving maximum architectural output using minimal means.</p></div>
			</div>
		</div>

	</div>
</div>
