<div class="container">
	<div class="row">
		<div class="col-xl-12">
			<div class="block single-event-top">
				<h3 class="text-center">Fri 1 May 2020, 7–8pm</h3>
				<h1 class="text-center">FormGivers:<br>
					Jones Neville</h1>
				<div class="row">
					<div class="col-md-6 single-event-address">
						<span>The Venue</span>
						<span>School of Art, Architecture and Design</span>
						<span>Calcutta House</span>
						<span>Old Castle Street</span>
						<span>London E1 7NT</span>
						<a href="">Map</a>
					</div>
					<div class="col-md-4 offset-md-2 offset-0">
						<a href="#" class="single-call-to-action blue booking"><span>Book</span></a>
					</div>
					<div class="col-12 event-tags">
						<a href="#" class="tag">FormGivers</a>
						<a href="#" class="tag">Architecture</a>
						<a href="#" class="tag">Liveness</a>
						<a href="#" class="tag">Watch</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-10 offset-xl-1">
			<div class="caption-img block">
				<img src="/static/img/tmp/img_plhdr1.jpg" alt="Placeholder">
				<div class="author">
					<a href="#">Lucca Puzzoni</a>, The Unaware Sculptor
				</div>
				<div class="desc">including migration, colonialism, tradition, economy, ecology, and
					technology.
				</div>
			</div>
		</div>
		<div class="col-xl-10">
			<div class="block text-block">
				<h2>The Twilight of the Idols</h2>
				<p>‘Through this library, students can learn about the interwoven themes that are unraveled throughout
					documenta 14, including migration, colonialism, tradition, economy, ecology, and technology.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="block video-iframe call-to-action-holder">
				<div class="iframe-wrapper">
					<iframe src="https://www.youtube.com/embed/0I647GU3Jsc" frameborder="0"
					        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					        allowfullscreen></iframe>
				</div>
				<a href="#" class="call-to-action">The Unaware Sculptor<span></span></a>
				<div class="author">
					<a href="#">Lucca Puzzoni</a>, The Unaware Sculptor
				</div>
				<div class="desc">
					including migration, colonialism, tradition, economy, ecology, and technology.’
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="img-a block">
				<a href="#">
					<img src="/static/img/tmp/img_plhdr2.jpg" alt="Placeholder">
					<span class="img-link">The Unaware Sculptor<span></span></span>
				</a>
				<div class="author">
					<a href="#">Lucca Puzzoni</a>, The Unaware Sculptor
				</div>
				<div class="desc">
					‘Poratiur, volupta ssecea doloreperrum lant fugit, coreica tinvellendus is susam volores eatur?
					Quiam, core simolupta perit, officae sint quias eiuntem es et, cum cone vendition’.
					<a href="#">Read →</a>
				</div>
			</div>
		</div>
		<div class="col-xl-10 ">
			<div class="block text-block">
				<h2>Peter Auerbach</h2>
				<p>Poratiur, volupta ssecea doloreperrum lant fugit, coreica tinvellendus is susam volores eatur? Quiam,
					core simolupta perit, officae sint quias eiuntem es et, cum cone venditio dolupta qui nobis eatur
					aut
					ligenem ipis essed magnam im cores autentorios
					<a href="#">audam</a>, officia quo et occuptam, tem. Nos magnimillest voluptate quaspeliquo id quo
					veliatem ipsam, et eum core dis nobis atatureperor minci niet rem qui ab ipsapedistem sitaquat</p>
			</div>
		</div>
		<div class="col-lg-6">
			<a href="#" class="block single-call-to-action white">
				<span>The Unaware<br>Sculptor</span>
			</a>
		</div>
		<div class="col-md-8">
			<div class="block links event-links">
				<div class="title">Studio Leaders</div>
				<ul>
					<li>
						<a href="#" class="watch">
							<span>Thu 18 Jan 2018, 6.30pm</span>
							<span>Aurora Armental Ruiz and Stefano Ciurlo Walker, ESTAR</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>Thu 26 Mar 2018, 6.30pm</span>
							<span>Aurora Armental Ruiz and Stefano Ciurlo Walker, ESTAR</span>
						</a>
					</li>
					<li>
						<a href="#" class="watch">
							<span>Thu 18 Jan 2018, 6.30pm</span>
							<span>Aurora Armental Ruiz and Stefano Ciurlo Walker, ESTAR</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-12">
			<div class="block links">
				<div class="title">Students</div>
				<ul>
					<li><a href="#">Abby Batucan</a></li>
					<li><a href="#">Nyma Begum</a></li>
					<li><a href="#">Naomi Grace Burke</a></li>
					<li><a href="#">Ousmane Cisse</a></li>
					<li><a href="#">Ajike Doherty</a></li>
					<li><a href="#">Lucia Petronel</a></li>
					<li><a href="#">Susma Edingo</a></li>
					<li><a href="#">Benjamin Ethan</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
