@mixin size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin displayFlex($align: center, $valign: center, $direction: auto, $wrap: wrap) {
    display: flex;
    @if($align != null) {
        justify-content: $align;
    }
    @if($valign != null) {
        align-items: $valign;
    }
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin animationRotate($name,$from,$to,$duration) {
    animation: $name;
    animation-duration: $duration;
    animation-fill-mode: forwards;
    @include keyframes($name) {
        from {transform: rotate($from)}
        to {transform: rotate($to)}
    }
}