@font-face {
    font-family: 'Beausite Regular';
    src: url('../fonts/Beausite_Classic-Regular-Web.woff2') format('woff2'),
    url('../fonts/Beausite_Classic-Regular-Web.woff') format('woff');
}

@font-face {
    font-family: 'Beausite Semibold';
    src: url('../fonts/BeausiteClassicWeb-Semibold.woff2') format('woff2'),
    url('../fonts/BeausiteClassicWeb-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'SuisseIntl Book';
    src: url('../fonts/SuisseIntl-Book-WebM.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Book-WebM.woff') format('woff');
}

@font-face {
    font-family: 'SuisseIntl BookItalic';
    src: url('../fonts/SuisseIntl-BookItalic-WebM.woff2') format('woff2'),
    url('../fonts/SuisseIntl-BookItalic-WebM.woff') format('woff');
}

$font-one: "Beausite Regular", serif;
$font-two: "Beausite Semibold", serif;
$font-three: "SuisseIntl Book", serif;
$font-four: "SuisseIntl BookItalic", serif;

body {
    font-family: $font-one;
    font-size: 18px;
    line-height: 1;
}

h1 {
    font-family: $font-two;
    font-size: 2.1em;
}

h2 {
    font-family: $font-two;
    font-size: 1.5em;
}

a {
    font-size: 0.7em;
    &:hover {
        text-decoration: none;
    }
}
ul {
    padding-left: 0;
    li {
        list-style-type: none;
        line-height: 1.5em;
    }
}
