.page.inverted {
    * {
        color: #FFFFFF;
    }
    .arrowed {
        &:before {
            background-image: url('../img/graphics/arrow_down_white.svg');
        }
    }
    &.page-student {
        background-color: #000000;
        .header {
            background-color: #000000;
            &__main-links {
                a {
                    color: #FFFFFF;
                }
                .pull-footer {
                    &:before {
                        background-image: url('../img/graphics/arrow_down_white.svg');
                    }
                }

            }
        }
        .content-wrapper {
            background-color: #000000;
        }
    }
}
