.page {
    p {
        font-size: 0.9em;
    }

    &-complex {
        .header {
            background-color: #EFEFEF;
        }
        .content-wrapper {
            background-color: #EFEFEF;
        }
    }

    .content-wrapper {
        width: 100%;
    }

    .caption-img {
        &-text {
            margin-top: 20px;
            font-size: 0.6em;
        }
    }

    .text-block {
        h1, h2, h3, h4, h5, p, ul {
            margin-top: 0;
            margin-bottom: 1em;
            line-height: 1.3;
        }

        h2 {
            font-size: 1.3em;
        }

        h3 {

        }

        p, a {
            font-size: 0.8em;
        }

        a {
            color: $main;
        }
    }

    .video-with-image {
        width: 100%;
    }

    .iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .block {
        margin-top: 2em;
        margin-bottom: 2em;
        min-height: 1px;
    }

    .img-a {
        width: 100%;
        position: relative;

        img {
            width: 100%;
        }

        .img-link {
            padding: 20px 20px 16px;
            @include position(absolute, 0 null null 0);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: auto;
            background-color: $main;
            color: #FFFFFF;
            text-decoration: none;
            font-size: .6em;

            span {
                display: inline-block;
                @include size(1em, 1em);
                margin-left: 1em;
                background-image: url('../img/graphics/arrow_right_white.svg');
                background-repeat: no-repeat;
            }
        }
    }

    .author {
        margin-top: 15px;
        font-size: .5em;
        line-height: 1.4;
        a {
            font-size: 1em;
            color: inherit;
            text-decoration: underline;
            &:hover {
                color: inherit;
                text-decoration: underline;
            }
        }
    }

    .desc {
        margin-top: 20px;
        font-size: .5em;
        line-height: 1.4em;

        a {
            color: $main;
            font-size: 1em;
            text-decoration: underline;
            &:hover {
                color: inherit;
                text-decoration: underline;
            }
        }
    }

    .call-to-action-holder {
        position: relative;
        display: block;
    }

    .video-iframe, .img-a, .single-call-to-action {
        margin-bottom: 1em;
    }

    .call-to-action {
        padding: 20px 20px 16px;
        @include position(absolute, 0 null null 0);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        background-color: $main;
        color: #FFFFFF !important;
        text-decoration: none !important;
        font-size: .6em !important;

        span {
            display: inline-block;
            @include size(1em, 1em);
            margin-left: 1em;
            background-image: url('../img/graphics/arrow_right_white.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: translateY(-2px);
        }
    }

    .center-cta {
        display: block;
        @include position(absolute, 4em null null null);
        margin: auto;
        padding: 20px 40px;
        font-size: .6em;
        transition: transform .2s ease;
        &.blue {
            background-color: $main;
            color: #FFFFFF;
        }
        &.black {
            background-color: #000000;
            color: #FFFFFF;
        }
        &.white {
            background-color: #FFFFFF;
            color: #000000;
        }
        &:hover {
            transform: scale(1.2);
        }
    }

    .carousel {
        position: relative;

        .carousel-base {
            display: block;
        }

        .desc {
            margin-top: 15px;
            font-size: .5em;
            line-height: 1.4;

            a {
                color: $main;
            }
        }

        .gallery {
            display: none;
        }
    }

    .search {
        display: inline-block;
        @include size(1em, 1em);
        margin-left: 1em;
        background-image: url('../img/graphics/loupe.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .video {
        &-wrapper {
            line-height: 0;
            position: relative;
            background-color: #000000;
        }
        video {
            width: 100%;
        }
        &-controls {
            @include position(absolute, null 0 0 0);
            display: flex;
            padding: 10px;

            &__button {
                @include displayFlex();
                @include size(40px, 40px);
                //margin: 10px;
                padding: 10px;
                background-color: $main;
                &:before {
                    content: '';
                    @include size(100%, 100%);
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
                &.active {
                    background-color: transparent;
                }
                &.play {
                    &:before {
                        background-image: url("/static/img/graphics/play.svg");
                    }
                }
                &.pause {
                    &:before {
                        background-image: url("/static/img/graphics/pause.svg");
                    }
                }
            }
        }
    }

    .single-call-to-action {
        font-size: 0.7em;
        display: block;
        position: relative;
        padding-bottom: 70%;
        height: 0;
        span {
            @include position(absolute, 0 null null 0);
            padding: .5em;
            font-size: 1.2em;
            line-height: 1.4;
            &:after {
                content: '';
                @include size(1em, 1em);
                display: block;
                background-image: url('../img/graphics/arrow_right_white.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
        &.blue {
            background-color: $main;
            color: #FFFFFF;
        }
        &.black {
            background-color: #000000;
            color: #FFFFFF;
        }
        &.white {
            background-color: #FFFFFF;
            color: #000000;
            span {
                &:after {
                    background-image: url('../img/graphics/arrow_right.svg');
                }
            }
        }
    }

    .links {
        .title {
            color: $main;
            font-size: .6em;
        }
        ul {
            margin-top: 1em;
        }
        a {
            font-size: 1em;
            color: inherit;
            text-decoration: underline;
            &:hover {
                color: inherit;
                text-decoration: underline;
            }
        }
    }
}

.bg-black {
    color: #FFFFFF;
    position: relative;
    &:before {
        content: '';
        @include size(300%, 100%);
        @include position(absolute, 0 null 0 -100%);
        background-color: #000000;
        z-index: -1;
    }
}

.fancybox {
    &-toolbar {
        width: 100%;
        text-align: center;
        height: 80px;
    }

    &-infobox {
        height: 80px;
    }

    &-button {
        background-color: transparent;
    }

    &-button--close {
        @include size(60px, 60px);
    }

    &-navigation {
        .fancybox-button {
            @include size(100px, 150px);
        }
    }

    &-is-open {
        .fancybox-bg {
            opacity: 1;
        }
    }

    &-caption {
        width: 100%;
        max-width: 1160px;
        margin: auto;
        background: transparent;
        font-size: .5em;
        padding-top: 35px;
        padding-bottom: 35px;

        &__body {
            //margin-bottom: 1em;
        }

    }

    &-stage {
        //height: 95vh;
        //top: unset;
    }

    &-slide--image {
        padding: 60px 0;
    }
}

.blue {
    .fancybox-bg {
        background-color: $main;
    }
    .fancybox-button {
        svg {
            polygon, path {
                fill: #FFFFFF;
            }
        }
    }
    .fancybox-caption {
        color: #FFFFFF;
    }
}

.white {
    .fancybox-bg {
        background-color: #FFFFFF;
    }
    .fancybox-button {
        svg {
            polygon, path {
                fill: #000000;
            }
        }
    }
    .fancybox-caption {
        color: #000000;
    }
}

.black {
    .fancybox-bg {
        background-color: #000000;
    }
    .fancybox-button {
        svg {
            polygon, path {
                fill: #FFFFFF;
            }
        }
    }
    .fancybox-caption {
        color: #FFFFFF;
    }
}

@media screen and (max-width: 1024px) {
    .fancybox-caption {
        &:before {
            content: attr(data-count);
            display: block;
            font-size: .8em;
            @include size(10em, 1em);
            margin: auto;
            margin-bottom: 10px;
        }
    }
}
@media screen and (max-width: 768px) {
    .page {
        .content-wrapper {
            padding: 0 20px 100px;
        }
        .call-to-action, .img-a .img-link {
            padding: 10px 10px 6px;
        }
        .video {
            &-controls {
                &__button {
                    @include size(20px, 20px);
                    padding: 5px;
                }
            }
        }
    }
}
