.page-events {
    background-color: #000000;
    color: #FFFFFF;
    &.page {
        .text-block {
            h2 {
                font-size: 2.1em;
            }
            .link {
                color: #FFFFFF;
                text-decoration: underline;
            }
        }
    }
}

.event {
    line-height: 1.5;
    margin-bottom: 2em;
    font-size: .9em;
    a {
        color: #FFFFFF;
        img {
            margin-bottom: .5em;
        }
    }
    .time {
        display: block;
    }
    .tags {
        a {
            display: inline-block;
            font-size: .6em;
            margin: 10px 15px 10px 0;
        }
    }
}

.page-event-single {
    background-color: #EFEFEF;
    h1 {
        margin-bottom: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
    .single-event-address {
        @include displayFlex(flex-start, flex-start, column);
        font-size: .7em;
        line-height: 1.4;
        margin-bottom: 1em;
    }
    .single-call-to-action.booking {
        padding-bottom: 40%;
    }
    .event-tags {
        margin-top: 1em;
        .tag {
            display: inline-block;
            background-color: #000000;
            color: #FFFFFF;
            padding: .5em 2em 1em .5em;
            margin-right: 20px;
            font-size: .7em;
            &:hover {
                background-color: #FFFFFF;
                color: #000000;
            }
        }
    }
}

.links.event-links {
    li {
        margin-bottom: 2em;
    }
    a {
        line-height: 1.5;
        display: block;
        text-decoration: none;
        span {
            display: inline-block;
            &:last-child {
                text-decoration: underline;
            }
        }
        &.watch {
            span:last-child {
                &:after {
                    content: 'watch';
                    display: inline-block;
                    background-color: $main;
                    color: #FFFFFF;
                    font-size: 0.5em;
                    padding: 0.1em 2em 0.3em 0.4em;
                    transform: translateY(-.45em);
                    margin-left: 1em;
                }
            }
        }
    }
}
