.page.page-student {
    background-color: #F8F7E1;
    .header {
        background-color: #F8F7E1;
    }
    .content-wrapper {
        background-color: #F8F7E1;
        max-width: 1160px;
        min-height: 100vh;
        padding: 0 40px 100px;
        * {
            font-family: $font-three;
        }
        a {
            font-size: .8em;
            text-decoration: underline;
            color: inherit;
            &.title {
                color: inherit;
            }
        }
    }

    .links {
        .title {
            color: inherit;
            font-size: 1em;
        }
        ul {
            margin-top: .5em;
        }
    }

    .text-block {
        h2 {
            font-size: 1.7em;
        }
    }
}
